<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/LOGO.png" alt="logo" width="50px">
        </div>
        <nav class="nav-link">
            <div>
                <ul>
                    <li><a href="/templates/porfolio.html">Home</a></li>
                    <li><a href="/templates/about.html">About</a></li>
                    <li><a href="/templates/service.html">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    
                </ul>

            </div>

        </nav>
        <button class="contct-info">Contact</button>
       

    </header>
    <main>
        <div class="about">
            <div class="about-pic-left-flex">
                <img src="/static/images/pix.jpeg" alt="" height="300px">
        
            </div>
            <div class="about-info-right-flex">
                <h1>About <span>Me</span></h1>
                <h3>Hello! I'm Nwokedike Linus</h3>
                <p>A dedicated web developer with a passion for
                    crafting digital experiences that captivate 
                    and inspire. What drives me as a developer is 
                    the opportunity to solve problems creatively 
                    and collaborate with like-minded individuals 
                    who share a passion for innovation. I believe 
                    in continuous learning and staying abreast of 
                    emerging technologies to deliver cutting-edge 
                    solutions that push the boundaries of what's 
                    possible on the web. Beyond coding, I find joy
                    in exploring the great outdoors, experimenting
                    with new recipes in the kitchen, and giving back 
                    to the community through volunteer coding workshops.
                    Interested in collaborating on a project or simply 
                    want to connect? Don't hesitate to reach out via email 
    
                </p>
                <div class="social">
                    <a href=""><img src="" alt=""></a>
                    <a href=""><img src="" alt=""></a>
                    <a href=""><img src="" alt=""></a>
                    <a href=""><img src="" alt=""></a>
                </div>
            </div>
        
        </div>

    </main>
   
</body>
</html>