<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porfolio</title>
    <link rel="stylesheet" href="/learning html and css/static/css/porfolio.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/learning html and css/static/images/LOGO.png" alt="logo" width="50px">
        </div>
        <nav class="nav-link">
            <div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/learning html and css/templates/about.html">About</a></li>
                    <li><a href="/templates/service.html">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    
                </ul>

            </div>

        </nav>
        <button class="contct-info">Contact</button>
       

    </header>
    <main>
        <div class="col-right">
            <img src="/static/images/pix.jpeg" alt="picture">

        </div>

        <div class="col-left">
           <h5 class="p-ft">Nwokedike Linus</h5>
           <h1>I'm a web<br> and Android <span>Developer</span></h1>
          
           <p>A dedicated web developer with a passion for
            crafting digital experiences that captivate 
            and inspire. What drives me as a developer is 
            the opportunity to solve problems creatively 
            and collaborate with like-minded individuals 
            who share a passion for innovation. I believe 
            in continuous learning and staying abreast of 
            emerging technologies to deliver cutting-edge 
            solutions that push the boundaries of what's 
            possible on the web. Beyond coding, I find joy
            in exploring the great outdoors, experimenting
            with new recipes in the kitchen, and giving back 
            to the community through volunteer coding workshops.
            Interested in collaborating on a project or simply 
            want to connect? Don't hesitate to reach out via email 
            </p>
            <button class="cv-info">download cv</button>
            

        </div>
      
            

        
        


    </main>
    <footer>

    </footer>
    
</body>
</html>